In [1]:
import numpy as np
import pandas as pd

# Importing dataset and processing it

In [2]:
df = pd.read_csv("./data_clean/cancer_industry.csv")

In [3]:
df.head()

,locale,fips,areatype,cancer,stateFIPS,state,cancer_description,annual_count_avg,incidence rate_per_100000,incidence rate_lower_95_confidence,...,METL,MINE,MSW,NREN,OZON,PEST,REN,SMOG,VADD,WATR
0,"Autauga County(6,10)",1001,county,1,1,alabama,All Cancer Sites,304,495.6,470.6,...,0.000177,0.0,3.332971,1558.288943,0.000008,0.000069,1050.867678,9.764524,168.936475,27.485562
1,"Autauga County(6,10)",1001,county,3,1,alabama,Oral Cavity & Pharynx,8,13.5,9.6,...,0.000177,0.0,3.332971,1558.288943,0.000008,0.000069,1050.867678,9.764524,168.936475,27.485562
2,"Autauga County(6,10)",1001,county,17,1,alabama,Esophagus,0,0.0,0.0,...,0.000177,0.0,3.332971,1558.288943,0.000008,0.000069,1050.867678,9.764524,168.936475,27.485562
3,"Autauga County(6,10)",1001,county,18,1,alabama,Stomach,6,9.1,6.0,...,0.000177,0.0,3.332971,1558.288943,0.000008,0.000069,1050.867678,9.764524,168.936475,27.485562
4,"Autauga County(6,10)",1001,county,20,1,alabama,Colon & Rectum,32,52.2,44.2,...,0.000177,0.0,3.332971,1558.288943,0.000008,0.000069,1050.867678,9.764524,168.936475,27.485562

In [4]:
new_df = pd.DataFrame(df['fips'].unique(), columns = ['fips'])

In [5]:
new_df.head()

   fips
0  1001
1  1003
2  1005
3  1007
4  1009

In [6]:
# creating cancer columns:
for cancer in df['cancer'].unique():
    new_df[cancer] = 0

In [7]:
new_df.head()

,fips,1,3,17,18,20,35,40,47,53,...,66,71,72,76,80,86,90,400,515,516
0,1001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1003,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1005,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1007,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
new_df.set_index("fips", inplace=True)

In [9]:
new_df.head()

,1,3,17,18,20,35,40,47,53,55,...,66,71,72,76,80,86,90,400,515,516
fips,,,,,,,,,,,,,,,,,,,,,
1001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1007,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
for index, row in df.iterrows():
    new_df.loc[row['fips'], row['cancer']] = row['annual_count_avg']

In [11]:
new_df.head()

,1,3,17,18,20,35,40,47,53,55,...,66,71,72,76,80,86,90,400,515,516
fips,,,,,,,,,,,,,,,,,,,,,
1001,304,8,0,6,32,6,8,45,18,47,...,32,11,13,4,7,9,8,8,3,0
1003,1189,40,14,13,108,22,34,199,81,176,...,121,56,44,16,14,44,32,36,11,7
1005,145,7,0,0,14,0,4,23,4,17,...,22,6,7,0,0,5,0,4,0,0
1007,128,4,0,0,12,0,4,21,3,19,...,16,4,7,0,4,4,3,3,0,0
1009,317,8,0,5,28,5,7,52,15,50,...,38,12,13,4,6,12,10,10,4,3

In [12]:
final_df = new_df.set_index(np.arange(new_df.shape[0]))

In [13]:
new_df = new_df.reset_index()

In [14]:
new_df.head()

,fips,1,3,17,18,20,35,40,47,53,...,66,71,72,76,80,86,90,400,515,516
0,1001,304,8,0,6,32,6,8,45,18,...,32,11,13,4,7,9,8,8,3,0
1,1003,1189,40,14,13,108,22,34,199,81,...,121,56,44,16,14,44,32,36,11,7
2,1005,145,7,0,0,14,0,4,23,4,...,22,6,7,0,0,5,0,4,0,0
3,1007,128,4,0,0,12,0,4,21,3,...,16,4,7,0,4,4,3,3,0,0
4,1009,317,8,0,5,28,5,7,52,15,...,38,12,13,4,6,12,10,10,4,3

In [15]:
new_df.to_csv("./data_clean/avg_count_per_cancer_per_fips.csv", index=False)