In [1]:
import numpy as np
import pandas as pd

# Importing dataset and processing it

In [2]:
df = pd.read_csv("cancer_industry.csv")

In [3]:
df.head()

,locale,fips,areatype,cancer,stateFIPS,state,cancer_description,annual_count_avg,incidence rate_per_100000,incidence rate_lower_95_confidence,...,METL,MINE,MSW,NREN,OZON,PEST,REN,SMOG,VADD,WATR
0,"Autauga County(6,10)",1001,county,1,1,alabama,All Cancer Sites,304,495.6,470.6,...,0.000177,0.0,3.332971,1558.288943,0.000008,0.000069,1050.867678,9.764524,168.936475,27.485562
1,"Autauga County(6,10)",1001,county,3,1,alabama,Oral Cavity & Pharynx,8,13.5,9.6,...,0.000177,0.0,3.332971,1558.288943,0.000008,0.000069,1050.867678,9.764524,168.936475,27.485562
2,"Autauga County(6,10)",1001,county,17,1,alabama,Esophagus,0,0.0,0.0,...,0.000177,0.0,3.332971,1558.288943,0.000008,0.000069,1050.867678,9.764524,168.936475,27.485562
3,"Autauga County(6,10)",1001,county,18,1,alabama,Stomach,6,9.1,6.0,...,0.000177,0.0,3.332971,1558.288943,0.000008,0.000069,1050.867678,9.764524,168.936475,27.485562
4,"Autauga County(6,10)",1001,county,20,1,alabama,Colon & Rectum,32,52.2,44.2,...,0.000177,0.0,3.332971,1558.288943,0.000008,0.000069,1050.867678,9.764524,168.936475,27.485562

In [4]:
new_df = pd.DataFrame(df['fips'].unique(), columns = ['fips'])

In [5]:
new_df.head()

   fips
0  1001
1  1003
2  1005
3  1007
4  1009

In [6]:
# creating cancer columns:
for cancer in df['cancer'].unique():
    new_df[cancer] = 0

In [7]:
new_df.head()

,fips,1,3,17,18,20,35,40,47,53,...,66,71,72,76,80,86,90,400,515,516
0,1001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1003,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1005,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1007,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
new_df.set_index("fips", inplace=True)

In [15]:
new_df.head()

,1,3,17,18,20,35,40,47,53,55,...,66,71,72,76,80,86,90,400,515,516
fips,,,,,,,,,,,,,,,,,,,,,
1001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1007,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
for index, row in df.iterrows():
    new_df.loc[row['fips'], row['cancer']] = row['incidence rate_per_100000']

In [10]:
new_df.head()

,1,3,17,18,20,35,40,47,53,55,...,66,71,72,76,80,86,90,400,515,516
fips,,,,,,,,,,,,,,,,,,,,,
1001,495.6,13.5,0.0,9.1,52.2,9.3,12.4,73.1,28.9,142.3,...,108.7,18.4,21.1,7.4,11.4,14.7,13.5,24.2,22.6,0.0
1003,445.0,14.6,5.2,4.8,41.4,7.6,12.5,70.4,31.5,127.8,...,87.5,20.8,16.6,6.5,6.0,17.0,12.9,28.1,21.9,19.3
1005,429.8,22.9,0.0,0.0,43.4,0.0,12.9,65.5,12.7,112.7,...,129.6,16.2,20.8,0.0,0.0,13.7,0.0,20.6,0.0,0.0
1007,478.3,16.7,0.0,0.0,47.9,0.0,16.1,74.9,13.1,146.6,...,115.8,16.3,26.1,0.0,16.4,16.9,12.7,24.5,0.0,0.0
1009,440.0,10.9,0.0,6.7,40.3,7.5,9.6,67.9,23.5,131.1,...,102.8,17.4,16.5,5.9,9.0,17.0,13.9,25.7,27.0,28.8

In [11]:
final_df = new_df.set_index(np.arange(new_df.shape[0]))

In [12]:
new_df = new_df.reset_index()

In [13]:
new_df.head()

,fips,1,3,17,18,20,35,40,47,53,...,66,71,72,76,80,86,90,400,515,516
0,1001,495.6,13.5,0.0,9.1,52.2,9.3,12.4,73.1,28.9,...,108.7,18.4,21.1,7.4,11.4,14.7,13.5,24.2,22.6,0.0
1,1003,445.0,14.6,5.2,4.8,41.4,7.6,12.5,70.4,31.5,...,87.5,20.8,16.6,6.5,6.0,17.0,12.9,28.1,21.9,19.3
2,1005,429.8,22.9,0.0,0.0,43.4,0.0,12.9,65.5,12.7,...,129.6,16.2,20.8,0.0,0.0,13.7,0.0,20.6,0.0,0.0
3,1007,478.3,16.7,0.0,0.0,47.9,0.0,16.1,74.9,13.1,...,115.8,16.3,26.1,0.0,16.4,16.9,12.7,24.5,0.0,0.0
4,1009,440.0,10.9,0.0,6.7,40.3,7.5,9.6,67.9,23.5,...,102.8,17.4,16.5,5.9,9.0,17.0,13.9,25.7,27.0,28.8

In [14]:
new_df.to_csv("rate_cancer_per_fips.csv", index=False)

In [15]:
df_bis = pd.read_csv("rate_cancer_per_fips.csv")

In [16]:
df_bis.head()

,fips,1,3,17,18,20,35,40,47,53,...,66,71,72,76,80,86,90,400,515,516
0,1001,495.6,13.5,0.0,9.1,52.2,9.3,12.4,73.1,28.9,...,108.7,18.4,21.1,7.4,11.4,14.7,13.5,24.2,22.6,0.0
1,1003,445.0,14.6,5.2,4.8,41.4,7.6,12.5,70.4,31.5,...,87.5,20.8,16.6,6.5,6.0,17.0,12.9,28.1,21.9,19.3
2,1005,429.8,22.9,0.0,0.0,43.4,0.0,12.9,65.5,12.7,...,129.6,16.2,20.8,0.0,0.0,13.7,0.0,20.6,0.0,0.0
3,1007,478.3,16.7,0.0,0.0,47.9,0.0,16.1,74.9,13.1,...,115.8,16.3,26.1,0.0,16.4,16.9,12.7,24.5,0.0,0.0
4,1009,440.0,10.9,0.0,6.7,40.3,7.5,9.6,67.9,23.5,...,102.8,17.4,16.5,5.9,9.0,17.0,13.9,25.7,27.0,28.8