In [10]:
#BASE URL AND KEY
#Use the requests library
import csv
import requests as r
import pandas as pd
import zipfile, io
import os

In [2]:
import pathlib

# Set a relative location to save the data from the request
repo_dir = pathlib.Path().cwd().parent
raw_data_dir = repo_dir / 'data_raw'

if not raw_data_dir.exists():
    raw_data_dir.mkdir(parents=True)

valueAdded_data_dir = raw_data_dir / 'ValueAdded'
if not valueAdded_data_dir.exists():
    valueAdded_data_dir.mkdir(parents=True)

In [12]:
#combined version for all years->"https://apps.bea.gov/industry/xls/underlying-estimates/GDPbyInd_VA_Components_1998-2018.xlsx"
#summary level per year->"https://apps.bea.gov/iTable/iTable.cfm?reqid=52&step=102&isuri=1&table_list=4&aggregation=sum"
#more aggregated.less columns->"https://apps.bea.gov/iTable/iTable.cfm?reqid=52&step=102&isuri=1&table_list=4&aggregation=sum"
response = r.get(url)
response = r.get(url)
file=open(valueAdded_data_dir/ f"valueAdded.xlsx", 'wb')
file.write(response.content)
file.close()
pd=pd.read_excel(open(valueAdded_data_dir/ f"valueAdded.xlsx", 'rb'),sheet_name='Components of VA')  
pd

,Cautionary note on the use of these data --,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,These data include detailed estimates underlyi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Code,Industry Title,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,Value added (Millions of dollars),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,VA,All industries,9062817,9630663,10252347,10581822,10936418,11458246,12213730,13036637,...,14448932,14992052,15542582,16197007,16784851,17527258,18224780,18715040,19519424,20580223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1214,"1. Consists of agriculture, forestry, fishing...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1215,2. Consists of utilities; wholesale trade; re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN